.hero {
    background: url(../img/Group\ 11.png)no-repeat center/cover;
}

.hero__wrapper {
    padding: 200px 0;

}

.hero__subtitle {
    font-family: 'Lumberjack';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    color: #FFFFFF;
    width: 520px;
    margin-left: 40px;
}


.hero__subtitle span {
    color: #D6258F;
}